body,html{
	padding: 0px;
	margin: 0px;
	border: 0px;
	height:100%;
	overflow-y: hidden;
}
body{
	background-color: #0000ff;
}
canvas{
    background-image: url("textures/bg.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}

#container{
    background-color: rgba(0,0,256,0.9);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    color:#ffffff;
    display: none;
}
#other{
    height: 100px;
    width: 30%;
    display: block;
    border:black 1px solid;
    border-right-width: 0px;
    padding: 10px;
}
#description{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100px;
    width: 70%;
    border:black 1px solid;
    padding: 10px;
    color:#ffffff;
}
select{
    background-color: blue;
    color:#ffffff;
}
#start{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url("textures/logo.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#buttons{
    position: absolute;
    top: 75%;
    left: 40%;
    height:420;
    width:20%;
}
button{
    display: block;
    width: 100%;
    height: 25%;
    background-color: #0000ff;
    color: #ffffff;
}
