div#nav {
    width: 100%;
    padding: var(--spacing, 1rem);
    position: absolute;
}

div#nav-buttons {
    display: flex;
}

a.nav-button {
    margin: var(--spacing, 1rem);
    font-family: var(--title-font);
}

a.nav-button:hover {
    animation: glow var(--transition-ruration, 1s) ease-in-out infinite
        alternate;
    --glow-color-3: red;
}
