div#nav {
    width: 100%;
    padding: var(--spacing, 1rem);
    position: fixed;
    font-size: var(--font-size);
    background-color: var(--nav-bg);
    filter: hue-rotate(180deg);
}

div#nav-buttons {
    display: flex;
}

a.nav-button {
    margin: var(--spacing, 1rem);
    font-family: var(--title-font);
}

a.nav-button:hover {
    animation: glow var(--transition-ruration, 1s) ease-in-out infinite
        alternate;
    --glow-color-3: red;
}

@media screen and (min-width: 800px) {
    div#nav {
        background-color: transparent;
        filter: none;
    }
}
