div.project-thumbail {
    width: var(--project-thumbail-size, 100px);
    height: var(--project-thumbail-size, 100px);
    display: block;
    transition: transform
            calc(var(--transition-duration) / var(--project-var-multiplier, 3)),
        border-radius
            calc(var(--transition-duration) / var(--project-var-multiplier, 3));
}

div.project-thumbail:hover {
    transform: scale(
        var(--project-thumbail-scale, 1),
        var(--project-thumbail-scale, 1)
    );
    border-radius: calc(
        var(--spacing, 1rem) / var(--project-var-multiplier, 3)
    );
}

div.project {
    background-color: var(--bg-raised, black);
    margin: var(--spacing, 1rem);
    border-radius: var(--spacing, 1rem);
}

div.project > * {
    margin: var(--spacing, 1rem);
    text-align: center;
    box-sizing: border-box;
    display: block;
}

div.project-name {
    border-bottom: 1px solid #777777;
    padding-bottom: var(--spacing, 1rem);
}

div.project-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

div#projects {
    flex-direction: row;
    flex-wrap: wrap;
    font-family: var(--title-font);
}

div.project-links *:hover {
    animation: glow var(--transition-ruration, 1s) ease-in-out infinite
        alternate;
}
